.ritz .waffle a {
     color: inherit;
}
.ritz .waffle .s6{
    background-color:#ffffff;
    text-align:left;
    font-weight:bold;
    color:#000000;
    font-family:'Arial';
    font-size:10pt;
    vertical-align:bottom;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s3{
    background-color:#ffffff;
    text-align:left;
    font-style:italic;
    color:#000000;
    font-family:'Arial';
    font-size:10pt;
    vertical-align:bottom;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s4{
    background-color:#ffffff;
    text-align:left;
    font-weight:bold;
    font-style:italic;
    color:#000000;
    font-family:'Arial';
    font-size:10pt;
    vertical-align:bottom;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s0{
    background-color:#ffffff;
    text-align:center;
    color:#000000;
    font-family:'docs-Comfortaa',Arial;
    font-size:24pt;
    vertical-align:bottom;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s2{
    border-bottom:1px SOLID #000000;
    background-color:#ffffff;
    text-align:center;
    color:#000000;
    font-family:'docs-Comfortaa',Arial;
    font-size:24pt;
    vertical-align:bottom;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s5{
    border-bottom:1px SOLID #000000;
    background-color:#ffffff;
    text-align:center;
    color:#000000;
    font-family:'docs-Comfortaa',Arial;
    font-size:14pt;
    vertical-align:bottom;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
.ritz .waffle .s1{
    background-color:#ffffff;
    text-align:left;
    color:#000000;
    font-family:'Arial';
    font-size:10pt;
    vertical-align:bottom;
    white-space:nowrap;
    direction:ltr;
    padding:2px 3px 2px 3px;
}
